<navigation>
	<button ng-repeat="city in $ctrl.cities" 
		ng-click="$ctrl.setLocation(city)"
		type="submit" 
		class="btn btn-default">
		{{ city }}
	</button>
</navigation>

<div>
	<h3>
		{{$ctrl.city.city.name}}, {{$ctrl.city.city.country}}
        <small>
        	Lon: {{$ctrl.city.city.coord.lon}} 
        	Lat: {{$ctrl.city.city.coord.lat}} 
        	Population: {{$ctrl.city.city.population}}
        </small>
    </h3>
	<div class="city-list"  >
		<weather-panel class="weather-panel" ng-repeat="list in $ctrl.city.list">
			<div class="panel-heading">
				{{list.dt | date:'medium'}}
			</div>
			<div class="panel-body">
			    <div>
			        <p class="lead">
			            <img src="http://openweathermap.org/img/w/{{list.weather[0].icon}}.png">
			            {{list.main.temp}}°C
			        </p>
			        <p>
			        	<b>Description:</b> {{list.weather[0].description}} <br/>
		        		<b>Wind:</b> {{list.wind.speed}} km/h <br />
			            <b>High:</b> {{list.main.temp_max}}°C
			            <b>Low:</b> {{list.main.temp_min}}°C
			        </p>
			    </div>
			</div>
		<div class="panel-footer">
		    <small class="">
		        Pressure: {{list.main.pressure}} hPa, 
		        Humidity: {{list.main.humidity}}%
		    </small>
		</div>
		</weather-panel>
	</div>
</div>
