<div class="panels-holder">
	<weather-panel class="weather-panel" ng-repeat="city in $ctrl.cityData">
		<div class="panel-heading">{{city.name}}, {{city.country}}</div>
		<div class="panel-body">
		    <div>
		        <p class="lead">
		            <img src="http://openweathermap.org/img/w/{{city.weather.icon}}.png">
		            {{city.temp}}°C 
		        </p>
		        <p>
		            <b>Description:</b> {{city.weather.description}} <br/>
		        	<b>Wind:</b> {{city.wind}} km/h <br />
		            <b>High:</b> {{city.tempHigh}}°C
		            <b>Low:</b> {{city.tempMin}}°C
		        </p>
		    </div>
		</div>
		<div class="panel-footer">
		    <small class="">
		        Pressure: {{city.pressure}} hPa, 
		        Humidity: {{city.humidity}}%
		    </small>
		</div>
	</weather-panel>
</div>
