.app-root
	min-height 100%
	max-width 900px 
	position relative
	margin 0 auto
	display block
	padding 0 20px

.content-wrapper
	width 100%
	position relative
	display flex
	flex-flow row wrap
	&.error 
		text-align center
		color red
		font-size 14px
		padding 20px

.current
	color green!important