doctype html
html
	head
		title= title
		base(href="/")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='./styles.css', rel='stylesheet')
	body
		app(ng-app='app' class='app-root')
			header-component
			div(class='content-wrapper')
				div(class="content" ui-view) Loading...
		script(src="./js/vendor.bundle.js")
		script(src="./js/app.bundle.js")
		script(src="./js/styles.bundle.js")
		script(type="text/javascript").
			window.ApiUri = '#{apiURL}';
