@import "../helpers/mixins"

.content
	position relative
	width 100%

.city-list,
.panels-holder
	flexbox(flex)
	flex-direction row
	flex-flow row wrap
	.weather-panel
		justify(space-around)
		flex 1
		border 1px solid #ccc
		border-radius(4px)
		margin 10px 0
		.panel-heading
			color #ffffff
			border-color #428bca
			padding 10px 15px
			border-radius(3px 3px 0 0)
		.panel-body
			width 100%
			padding 15px
			.lead
				font-size 21px
				color #000
			p
				margin 0 0 10px
				font-size 14px
				color #3d3d29
			img
				vertical-align middle
		.panel-footer
			background #f5f5f5
			border-top 1px solid #dddddd
			border-radius(0 0 3px 3px)
			padding 10px 15px
			small
				font-size 75%

.panel-heading,
.panel-body,
.panel-footer
	width 100%

for i in (1..5)
	.weather-panel:nth-child({i})
		.panel-heading
			filter: hue-rotate(random(30, 300)deg)

	.panel-heading
		background-color hsla(0, 50%, 50%, 1)

.panels-holder
	.weather-panel:nth-child(1)
	.weather-panel:nth-child(2)
		flex(0 0 50%)

