@import "../helpers/mixins"

.forecast
	flexbox(flex)
	flex-direction row
	flex-flow row wrap
	navigation
		flex(0 0 100%)
		margin-bottom 20px
	button
		color #333333
		background-color #ffffff
		border 1px solid #cccccc
		display inline-block
		padding 6px 12px
		margin-bottom 0
		font-size 14px
		text-align center
		white-space nowrap
		vertical-align middle
		cursor pointer
		user-select none
		&:hover
			color #333333
			background-color #ebebeb
			border-color #adadad
		&:focus
			outline none
		&:first-child
			border-radius(3px 0 0 3px)
		&:last-child
			border-radius(0 3px 3px 0)

.panel-heading,
.panel-body,
.panel-footer
	width 100%

h3
	font-size 24px
	small
		font-size 14px
		color #999999

.city-list
	.weather-panel:nth-child(1)
	.weather-panel:nth-child(2)
	.weather-panel:nth-child(3)
		flex(0 0 33.3%)