@import "../helpers/mixins"

header-component
	display block
	border-bottom 1px solid #ccc
	margin-bottom 15px

.header 
	padding 15px 0 0
	margin-bottom 20px
	flexbox(flex)
	*
		margin-right 10px
	a
		text-decoration none
		color #03a9f4
		&:hover
			color black
