@import "../helpers/mixins"

html, body, * {
	margin: 0;
	padding: 0;
	font-family: 'intro_book', Arial, sans-serif;
	font-size: 1em;
}

*, *:before, *:after { 
	box-sizing: border-box; 
}

html, body
	width 100%
	height 100%

ul 
	list-style none
	margin 0
	padding 0
